extends layout

block content
    link(rel='stylesheet' href='./stylesheets/all_posts.css')
    script(src='./javascripts/all_posts.js')
    div.jumbotron.text-center#title
        h1 All Posts
    div.jumbotron#posts
        div.container
            - var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            - each post in posts
                div#border
                    p#date= post.date.getDate() + ' ' + months[post.date.getMonth()] + ' ' + post.date.getFullYear()
                    a.link(href='/post/#{post.slug}'): h2.postlink=post.title
                    p= post.description
                    br
    div.navbar-fixed-bottom.footer
        div.container.text-center.footer
            p All content is the property of
                a#footerlink(href='#{personalSite}' target='_blank')= ' ' + fullName + '.'