extends layout

block content
    link(rel='stylesheet' href='./stylesheets/index.css')
    script(src='./javascripts/index.js')
    div.section.text-center#main
        h1#blogtitle Welcome to #{name}'s Blog.
        span.glyphicon.glyphicon-circle-arrow-down#downbutton
    div.section.text-center#posts
            h1 Recent posts
            a(href='/all-posts') View all posts
