extends ../views/layout

block content
    link(rel='stylesheet' href='./../stylesheets/post.css')
    script(src='./../javascripts/post.js')
    div#fb-root
    div.jumbotron.text-center#title(style='background: url("#{post.photo}");background-size: 100% auto;background-attachment: fixed;background-color: rgba(245, 245, 245, 0);color: #ffffff;box-shadow: 1px 10px 10px black;height: 22em;padding-top: 8em;')
        h1= post.title
    div.jumbotron
        div.container
            != content
            br
            br
            br
            h2.text-center About the author:
            br
            div.text-center.col-md-6
                img#intropic(src='../#{imageLocation}')
            div.text-center.col-md-6
                p= description
    div.jumbotron.text-center
        div.fb-share-button.col-md-1(data-type='button')
        a.twitter-share-button.col-md-1#twitterlink Tweet
        div.g-plus.socialbutton.col-md-1(data-action='share' data-annotation='none' data-count='none')
    div.jumbotron.text-center
        div.fb-comments(data-numposts="5" data-colorscheme="dark")
