extends ../views/layout

block content
	link(rel='stylesheet' href='./../stylesheets/post.css')
	script(src='./../javascripts/post.js')
	script(src='./../javascripts/share.min.js')
	#fb-root
	.jumbotron.text-center#title(style='background: url("#{post.photo}");background-size: 100% auto;background-attachment: fixed;background-color: rgb(237, 237, 237);color: #ffffff;box-shadow: 1px 10px 10px black;height: 22em;padding-top: 6.5em; background-repeat: no-repeat;')
		h1= post.title
	.jumbotron
		.container
			!= content
			br
		.text-center
			.socialbuttons
		.jumbotron.text-center.containabout#move
			img.img-circle#intropic(src='../#{imageLocation}')
			h2 About the author:
			p.text= description
			.fb-comments(data-numposts="5" data-colorscheme="dark")