html, body, div {
    width: 100%;
}

div.jumbotron {
    margin: 0;
}

#title {
    background: url('./../images/all_posts_background.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
    color: #ffffff;
    height: 22em;
    padding-top: 8em;
}

#posts {
    background-color: #e1e1e1;
}

a:hover {
    text-decoration: none;
}

.postlink {
    color: rgb(51,51,51);
}
