html, body, div {
    width: 100%;
    background-color: rgb(225,225,225);
}

div.jumbotron {
    margin: 0;
}

#title {
    background: url('./../images/all_posts_background.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
    color: #ffffff;
    height: 22em;
    padding-top: 8em;
}

#posts {
    background-color: #e1e1e1;
}

#date {
    padding-top: 2em;
    font-size: 1em;
}

#footerlink {
    color: rgb(112,112,112);
}

div#border {
    border-bottom: solid #B0B0B0 1px;
}

a:hover {
    text-decoration: none;
}

.postlink {
    color: rgb(51,51,51);
    margin-top: -0.4em;
}

div.footer {
    padding-top: 0.4em;
}
