h1 {
    font-family: 'Myriad Pro', Helvetica, Verdana;
}

span.glyphicon {
    font-size: 2.5em;
    text-decoration: none;
    color: rgb(51,51,51);
}

#main, #posts {
    margin: 0;
}

#newpost {
    visibility: hidden;
}