div.jumbotron {
	margin: 0;
}

img#intropic {
	height: 10em;

}

.containabout {
	width: 650px;
}

#move {
	margin-left: auto;
	margin-right: auto;
}

div {
	word-break: break-word;
}


/* Mobile screen configurations */

@media screen and (max-device-width: 600px) {
	img#intropic {
		height: 3em;
	}

	h2 {
		font-size: 1em;
	}

	.containabout {
		width: 100%;
	}

	p.text {
		font-size: 1em;
	}

	h1 {
		font-size: 1.5em;
		
	}
}
