extends ./../layout

block content
    link(rel='stylesheet' href='./stylesheets/post_pages.css')
    div.jumbotron.text-center
        h1 Oops! It looks like something went wrong.
        h2 Tip: Try using a different slug. No duplicates allowed!
